*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    background: linear-gradient(to right,rgb(49, 236, 211),rgb(49, 97, 201));
}
.container{
    margin-top: 2rem;
    height: auto;
    width: 20rem;
    /* min-height: 20rem; */
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.container h2{
    margin-bottom: 1rem;
    /* margin: 1rem; */
}
.container input{
    width:80% ;
    padding: 0.4rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
}
.container #add{
    padding: 0.4rem;
    font-size: 1rem;
    background-color: purple;
    color: white;
    border:1px solid purple;
    border-radius: 2px;

}
.container .task{
    width:100% ;
    /* margin-top: 0.5rem; */
    margin-top: 3px;
    
    
   
}
.container .task p{
    width: 80%;
    
    padding: 0.4rem;
    font-size: 1rem;
    background-color: rgb(233, 228, 228);
    border-radius: 4px;
    border: 1px solid rgb(233, 228, 228);
    margin-top: 0.5rem;
    display: inline-block;
}
.container .task  button{
    /* float: right;
    padding: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    background-color: purple;
    color: white;
    border:1px solid purple;
    border-radius: 2px;
    
    height: 2.3rem;
    width: 2.6rem;
    margin-top: 0.1rem;
    border-radius: 2px;
    margin-right: 0.1rem;
     */
     float: right;
    padding: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    background-color: purple;
    color: white;
    border: 1px solid purple;
    border-radius: 2px;
    /* margin-left: 2px; */
    height: 2.1rem;
    width: 2.6rem;
    margin-top: 0.5rem;
    border-radius: 2px;
    margin-right: 0.1rem;
}
.count{
    width:100% ;
    /* margin-top: 0.5rem; */
    margin-top: 3px;
}

.resultpara{
    width: 95%;
    
    padding: 0.4rem;
    font-size: 1rem;
    background-color: rgb(233, 228, 228);
    border-radius: 4px;
    border: 1px solid rgb(233, 228, 228);
    margin-top: 0.5rem;
    display: inline-block;

}

.allclrbtn{
    width: 95%;
    background-color: purple;
    color: white;
    border: 1px solid purple;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    border-radius: 1.5rem;

}